<template>
  <div v-scroll-spy>
	<!-- [DEBUT] CONTAINER ENTENTE -->
	<div class="header-container">
		<!-- [DEBUT] NAVBAR -->
	  <b-navbar toggleable="md" type="dark">
		<b-navbar-toggle v-b-modal.mobileNav></b-navbar-toggle>
		<b-navbar-brand ><img src="../assets/img/logo_white.svg" alt="Arbizon Logo Blanc"></b-navbar-brand>
		<b-collapse is-nav id="nav_collapse">
		  <b-navbar-nav class="ml-auto">
			<b-nav-form  v-scroll-spy-active v-scroll-spy-link>
			  <b-navbar-brand href="#" class="navlink">Home</b-navbar-brand>
			  <b-navbar-brand href="#" class="navlink">Discover</b-navbar-brand>
			  <b-navbar-brand href="#" style="display: none;"></b-navbar-brand>
			  <b-navbar-brand href="#" class="navlink">Hikes</b-navbar-brand>
			</b-nav-form>
		  </b-navbar-nav>
		</b-collapse>
	  </b-navbar>
		<!-- [FIN] NAVBAR -->
		<!-- [DEBUT] MENU VERSION MOBILE -->
	  <div>
		<b-modal id="mobileNav">
		  <img class="logo-mobile-nav" src="../assets/img/logo_black.svg" alt="Arbizon Logo Noir">
		  <ul class="mobile-navlink">
			<li>Home</li>
			<li>Discover</li>
			<li>Hikes</li>
		  </ul>
		  <p class="mobile-navfooter">123 rue bidon
			65000 Aulon
			contact@arbizon.fr
		  +33 7 12 34 56 78</p>
		</b-modal>
	  </div>
		<!-- [FIN] MENU VERSION MOBILE -->
		<!-- [DEBUT] BLOC PRINCIPAL DE L'ENTETE -->
	  <div class="hero-title">
		<h1>Mountains worthy of Tolkien's stories</h1>
		<h2>Discover
		Arbizon.</h2>
		<p class="scroll-link">Interested? Let’s go!</p>
		<div class="scroll-border-bottom"></div>
	  </div>
		<!-- [FIN] BLOC PRINCIPAL DE L'ENTETE -->
	</div>
	<!-- [FIN] CONTAINER ENTENTE -->

	<section-1></section-1> <!-- SECTION 1 -->
	<div class="parallax-bg"></div> <!-- PARALLAX -->
	<section-2></section-2> <!-- SECTION 2 -->
	<section-3></section-3> <!-- SECTION 3 -->

	<!-- [DEBUT] FOOTER -->
	<footer>
	  <div class="logo-footer">
		<img src="../assets/img/logo_black.svg" alt="Arbizon Logo Noir">
	  </div>
	  <div class="footer-content">
		<div class="sitemap">
		  <ul class="sitemap-content">
			<li><strong>Sitemap</strong></li>
			<li class="footer-text">Home</li>
			<li class="footer-text">Discover</li>
			<li class="footer-text">Hikes</li>
		  </ul>
		</div>
		<div class="contact">
		  <ul class="sitemap-content">
			<li><strong>Contact</strong></li>
			<li><p class="footer-text">123 rue bidon
			  65000 Aulon
			  contact@arbizon.fr
			+33 7 12 34 56 78</p></li>
		  </ul>
		</div>
	  </div>
	</footer>
	<!-- [FIN] FOOTER -->
  </div>
</template>

<script>
  import Section1 from './Section1.vue'
  import Section2 from './Section2.vue'
  import Section3 from './Section3.vue'

  export default {
	name: 'header-container',
	components : {
	  Header,
	  Section1,
	  Section2,
	  Section3
	}
  }
</script>

<style scoped>
/* [DEBUT] NAVBAR */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #FFFFFF; 
  font-family: "SF Pro Display";  
  font-size: 16px;  
  font-weight: bold; 
  letter-spacing: 0.4px;  
  line-height: 19px;
  border-bottom: 3px solid transparent;
}
.navlink:hover {
  transition: 0.6s;
  border-bottom: 3px solid white;
}

.navbar-dark .navbar-toggler {
  border-color: transparent;
}
/* [FIN] NAVBAR */

/* [DEBUT] MENU VERSION MOBILE */

#mobileNav {
  padding-right: 0px;
}

.logo-mobile-nav {

  position: absolute;
  bottom: 650px;
  left: 47px;
}

.mobile-navlink {

  display: flex;
  flex-direction: column;
  padding: 25px 20px;
  line-height: 70px;
  font-size: 36px;
  font-family: SF Pro Display;
  font-weight: bold;
}

.mobile-navlink li:hover {
  transition: .4s;
  color:rgb(252, 74, 43);
}

.mobile-navfooter {
  width: min-content;
  position: absolute;
  bottom: 0px;
  font-weight: 300;
  font-family: SF Pro Display;
  font-size: 24px;
  padding: 0px 32px 40px;
  opacity: .5;
  color: rgba(0.62, 0.62, 0.62, 1);

}
/* [FIN] MENU VERSION MOBILE */

/* CONTAINER ENTETE */
.header-container {
  background: url('../assets/img/desktop_hero_background.jpg');
  height: 885px;
  background-size: cover;
  background-repeat: round;
  padding: 25px 25px 0px 40px;
}

/* BLOCK PRINCIPAL DANS L'ENTETE CONTENANT TITRES/TEXTES */
.hero-title {
  color: white;
  height: 365px;
  width: 413px;
  text-align: left;
  margin-top: 100px;
  margin-left: 200px;
}

/* Mountains worthy of Tolkien's stories */
h1 {
  color: #FFFFFF; 
  font-family: "SF Pro Display";  
  font-size: 17px;  
  font-weight: 300; 
  letter-spacing: 0.43px; 
  line-height: 20px;
  opacity: 0.8;
}

/* Discover Arbizon. */
h2 {  
  color: #FFFFFF; 
  font-family: "SF Pro Display";  
  font-size: 98px;  
  font-weight: 900; 
  letter-spacing: 0.43px; 
  line-height: 94px;

  margin-top: 50px;
  margin-bottom: 50px;
}

/* Interested? Let’s go! */
.scroll-link {
  color: #FFFFFF; 
  font-family: "SF Pro Display";  
  font-size: 24px;  
  font-weight: bold;  
  letter-spacing: 0.61px; 
  line-height: 29px;
}

.scroll-border-bottom {
  background: #FC4748;
  height: 4px;
  width: 235px;
}

/* PARALLAX */
.parallax-bg {
  background: url('../assets/img/desktop_parallax_background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 560px;
  background-attachment: fixed;
}

/* [DEBUT] FOOTER */
footer {
  background: white;
  height: 330px;
  padding: 80px 0px 0px 0px;
  margin-left: 200px;
  display: inline-flex;
}

strong {
  color: #000000; 
  font-family: "SF Pro Display";  
  font-size: 18px;  
  font-weight: bold;  
  letter-spacing: 0.45px; 
  line-height: 50px;
}

.footer-content {
  display: inline-flex;
  margin-left: 660px;
}
.sitemap {
  margin-right: 40%;
}

.sitemap-content {

  display: flex;
  flex-direction: column;

}
.contact {
  width: 200px;
}

.footer-text {
  color: #9D9D9D; 
  font-family: "SF Pro Display";  
  font-size: 18px;  
  letter-spacing: 0.45px; 
  line-height: 30px;
}
/* [FIN] FOOTER */


/* [DEBUT] VERSION MOBILE */
@media screen and (max-width: 640px) {
  /* NAVBAR */
  .navbar {
	flex-direction: row-reverse;
  }

  /* [DEBUT] CONTAINER ENTETE */
  .header-container {
	background: url(../assets/img/mobile_hero_background.jpg);
	background-repeat: round;
  }

  .hero-title {
	margin-top: 270px;
	margin-left: 25px;
  }

  h2 {
	font-size: 58pt;
  }
  /* [FIN] CONTAINER ENTETE */

  /* SECTION 1 */  
  .section-1 {
	background: url(../assets/img/mobile_section1_background.svg);
	margin-left: 25px;
  }

  /* PARALLAX */  
  .parallax-bg {

	height: 454px;
	background: url('../assets/img/mobile_parallax_background.jpg');
	background-size: cover;
	background-attachment: fixed;
  }

  /* [DEBUT] FOOTER */  
  footer {

	display: flex;
	flex-direction: column;
	margin-left: 25px;
  }

  .logo-footer {
	margin-left: 8Px;
  }

  .footer-content {

	display: flex;
	flex-direction: column;
	margin-top: 40px;
	margin-left: 0px;
  }
  /* [FIN] FOOTER */  
}
/* [FIN] VERSION MOBILE */
</style>
