<template>
	<div class="section-2">
		<img class="section2-image" src="../assets/img/desktop_section2_image.jpg" alt="">
		<img class="section2-image-mobile" src="../assets/img/mobile_section2_image.jpg" alt="">
		<div class="content">  
			<p class="p-strong"><strong>The most beautiful view of the Pyrénées</strong></p>
			<h3>A hike ending in crossing 
			the raptor ridge.</h3>
			<p>The normal route to the Arbizon summit is on the south side, the Aulon Valley. The starting point is the barns of Lurgues, near the village of Aulon, about 1400 m above sea level.<br>
				<br>
			Another way of access exists: it takes the valley of the lake of Arou and passes within the Arbizon-Montfaucon circus to climb on the crest by the breach of Aurey.</p>
			<p class="scroll-link">Discover hikes !</p>
			<div class="scroll-border-bottom"></div>
		</div>
	</div>
</template>
<script>
	export default {
		name: 'section-2'
	}
</script>

<style scoped>

/* SECTION 2 */
.section-2 {
	background: white;
	height: auto;
	padding:100px 5px 100px 0px;
	margin-left: 200px;
	display: flex;
}

.section2-image {
	height: 642.22px;
	width: 428px;
}

.section2-image-mobile {
	display: none;
}
/* BLOC CONTENANT LES TEXTES */
.content {
	text-align: left;
	margin-left: 40px;
}

/* The most beautiful view of the Pyrénées< */
.p-strong {
	color: #FC4748; 
	font-family: "SF Pro Display";  
	font-size: 18px;  
	font-weight: 300; 
	letter-spacing: 0.45px; 
	line-height: 21px;
}

/* A hike ending in crossing the raptor ridge */
h3 {
	width: 575px; 
	color: #000000; 
	font-family: "SF Pro Display";  
	font-size: 46px;  
	font-weight: 900; 
	letter-spacing: 1.16px; 
	line-height: 55px;
	margin-top: 32px;
}

p {
	width: 616px; 
	color: #6F7072; 
	font-family: "SF Pro Display";  
	font-size: 18px;  
	font-weight: 500; 
	letter-spacing: 0.45px; 
	line-height: 30px;
	margin-top: 32px;
}

/* Discover hikes ! */
.scroll-link {
	width: 181px; 
	color: #000000; 
	font-family: "SF Pro Display";  
	font-size: 24px;  
	font-weight: bold;  
	letter-spacing: 0.61px; 
	line-height: 29px;
	margin-top: 42px;
}

.scroll-border-bottom {
	background: #FC4748;
	height: 4px;
	width: 179px;
}

/* [DEBUT] VERSION MOBILE */
@media screen and (max-width: 640px) {

	.section-2 {
		margin-left: 50px;
		margin-right: 50px;
		flex-direction: column;
	}
	.section2-image {
		display: none;
	}

	.section2-image-mobile {
		display: block;
		height: 466.22px;
	}

	.content {
		margin-left: 0px;
	}

	p, h3 {
		width: auto;
	}

	h3 {
		font-size: 31pt;
	}
}
/* [FIN] VERSION MOBILE */
</style>