<template>
  <div class="section-1">
    <p class="p-strong"><strong>The Adour of Payolle is born on its northern slope.</strong></p>
    <h3>The most beautiful view 
    of the Pyrénées.</h3>
    <p>The Arbizon (2,831 m) is the highest point of the Arbizon massif in the Hautes-Pyrénées. It is located east of the Néouvielle massif, between the Aure valley to the east, and the Campan valley to the north.<br>
      <br>
      From a geological point of view, the peak of the Arbizon lies at the contact between the granitic massif of Neouvielle (pluton) and the various shales and marls of the Carboniferous.<br>
      <br>
    Thus, it is located in the halo of metamorphism caused by the rise of magma within the continental lithosphere, during the various movements of orogenesis that the region has known. Its geological wealth is known to the greatest number: one can find there particular minerals, resulting from the partial recrystallization of the schistose country, such as garnets, axinite, vesuvianite, etc.</p>
  </div>
</template>
<script>
  export default {
    name: 'section-1'
  }
</script>

<style scoped>
/* SECTION 1 */
.section-1 {

  background: url('../assets/img/desktop_section1_background.svg');
  height: 885px;
  background-size: contain;
  background-repeat: no-repeat;    
  padding:195px 25px 0px 40px;
  margin-left: 200px;
  margin-bottom: 200px;
  background-position: right;
  text-align: left;
}

/* The Adour of Payolle is born on its northern slope. */
.p-strong {
  color: #FC4748; 
  font-family: "SF Pro Display";  
  font-size: 18px;  
  font-weight: 300; 
  letter-spacing: 0.45px; 
  line-height: 21px;
  padding-bottom: 20px;
}

/* The most beautiful view 
of the Pyrénées. */
h3 {
  width: 580px; 
  color: #000000; 
  font-family: "SF Pro Display";  
  font-size: 47px;  
  font-weight: 900; 
  letter-spacing: 1.16px; 
  line-height: 55px;
  padding-bottom: 65px;
}

/* Texte */
p {
  width: 553px; 
  color: #6F7072; 
  font-family: "SF Pro Display";  
  font-size: 18px;  
  font-weight: 500; 
  letter-spacing: 0.45px; 
  line-height: 30px;
}

/* [DEBUT] VERSION MOBILE */
@media screen and (max-width: 640px) {
  .section-1 {
    background: url(../assets/img/mobile_section1_background.svg);
    margin-left: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    height: auto;
  }

  h3, p {
    width: auto;

  }

  h3 {
    font-size: 31pt;
  }

  p {

    margin-bottom: 100px;
  }

  .p-strong {

    margin-top: 135px; 
  }

}
/* [FIN] VERSION MOBILE */

</style>