<template>
  <div class="section-3">
    <div class="left-section col-lg-6">
      <h3>Vallée d’Aulon</h3>
    </div> 
    <div class="right-section col-lg-6">
      <h3>Lac d’Arou</h3>
    </div>     
  </div>
</template>
<script>
  export default {
    name: 'section-3'
  }
</script>

<style scoped>
/* SECTION 1 */
.section-3 {
  height: 611px;
  display: flex;
  flex-direction: row;
}

/* SECTION GAUCHE */
.left-section {
  background: url('../assets/img/desktop_section3_background1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 611px;
}

/* SECTION DROITE */
.right-section {
  background: url('../assets/img/desktop_section3_background2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 611px;
}

/* Vallée d’Aulon & Lac d’Arou */
h3 {
  color: #FFFFFF; 
  font-family: "SF Pro Display";  
  font-size: 54px;  
  font-weight: 900; 
  letter-spacing: 1.36px; 
  line-height: 64px;
  margin-top: 486px;
  margin-left: 90px;
  padding-bottom: 70px;
}

/* [DEBUT] VERSION MOBILE */
@media screen and (max-width: 640px) {
  .section-3 {
    flex-direction: column;
    height: auto;
  }

  h3
  {
    margin-top: 320px;
    margin-left: 25px;
    width: 350px;
  }

  .left-section {
    background: url('../assets/img/mobile_section3_background1.jpg');
    background-size: cover;
    background-repeat: round;
    height: auto;

  }

  .right-section {
    background: url('../assets/img/mobile_section3_background2.jpg');
    background-size: cover;
    background-repeat: round;
    height: auto;

  }
}
/* [FIN] VERSION MOBILE */
</style>